<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<meta name="language" content="EN">
	<meta name="keywords" content="code, codebase, snippet, snippets, codebottle, paste, pastebin, function, class, search">
	<link rel="search" type="application/opensearchdescription+xml" title="{{ config('app.name', 'CodeBottle') }}" href="/opensearch.xml">
	<link rel="apple-touch-icon" sizes="57x57" href="/images/apple-touch-icon-57x57.png">
	<link rel="apple-touch-icon" sizes="60x60" href="/images/apple-touch-icon-60x60.png">
	<link rel="apple-touch-icon" sizes="72x72" href="/images/apple-touch-icon-72x72.png">
	<link rel="apple-touch-icon" sizes="76x76" href="/images/apple-touch-icon-76x76.png">
	<link rel="apple-touch-icon" sizes="114x114" href="/images/apple-touch-icon-114x114.png">
	<link rel="apple-touch-icon" sizes="120x120" href="/images/apple-touch-icon-120x120.png">
	<link rel="apple-touch-icon" sizes="144x144" href="/images/apple-touch-icon-144x144.png">
	<link rel="apple-touch-icon" sizes="152x152" href="/images/apple-touch-icon-152x152.png">
	<link rel="apple-touch-icon" sizes="180x180" href="/images/apple-touch-icon-180x180.png">
	<link rel="icon" type="image/png" href="/images/favicon-32x32.png)" sizes="32x32">
	<link rel="icon" type="image/png" href="/images/favicon-194x194.png)" sizes="194x194">
	<link rel="icon" type="image/png" href="/images/android-chrome-192x192.png)" sizes="192x192">
	<link rel="icon" type="image/png" href="/images/favicon-16x16.png)" sizes="16x16">
	<link rel="mask-icon" href="/images/safari-pinned-tab.svg)" color="#884444">
	<link rel="shortcut icon" href="/favicon.ico">
	<meta name="apple-mobile-web-app-title" content="{{ config('app.name', 'CodeBottle') }}">
	<meta name="application-name" content="{{ config('app.name', 'CodeBottle') }}">
	<meta name="msapplication-TileColor" content="#b91d47">
	<meta name="msapplication-TileImage" content="/images/mstile-144x144.png">
	<meta name="msapplication-config" content="/browserconfig.xml">
	<meta name="theme-color" content="#222222">

	<meta name="google-site-verification" content="q3uVKTkeIwKd9mDMWlxLH70IYc33UtebbUbeqV6LsNI" />

	<script type="application/ld+json">
		{
			"@context": "http://schema.org",
			"@type": "WebSite",
			"url": "/",
			"potentialAction": {
				"@type": "SearchAction",
				"target": "/?q={search_term_string}",
				"query-input": "required name=search_term_string"
			}
		}
	</script>

	<title>CodeBottle</title>
	<link href="<%= css %>" rel="stylesheet">
	<meta property="og:image" content="/images/bottle_square.png">
</head>
<body>
	<noscript>
		This website does not work without JavaScript. Please enable JavaScript in order to use this website.
	</noscript>
	<div id="app">
		<div id="main-content">
			<toast v-if="toast.show" :content="toast.content"></toast>
			<navbar></navbar>
			<router-view></router-view>
		</div>
		<footer>
			<span>
				<router-link :to="{name: 'api.getting-started'}">API</router-link>
				| <router-link :to="{name: 'embedding'}">Embedding</router-link>
				| <a href="https://discord.gg/2Sd8Um3" id="discord-invite">Discord</a>
				| <router-link :to="{name: 'privacy-policy'}">Privacy Policy</router-link>
				| Built with <span class="fa fa-heart" title="Oh you burnt it!"></span> by OverCoder
				| Proudly hosted by <a href="https://blackfields.net/">BFNT <span class="fa fa-globe" title="Globe!"></span></a>
			</span>
		</footer>
	</div>
	<script src="<%= js %>"></script>
</body>
</html>
