@import url('https://fonts.googleapis.com/css?family=Ubuntu:400,500,700&display=swap');

@import 'variables';
@import 'bootstrap/scss/bootstrap';

@import '@fortawesome/fontawesome-pro/scss/fontawesome';
@import '@fortawesome/fontawesome-pro/scss/light';
@import '@fortawesome/fontawesome-pro/scss/regular';
@import '@fortawesome/fontawesome-pro/scss/solid';
@import '@fortawesome/fontawesome-pro/scss/brands';
@import '~highlight.js/styles/railscasts.css';

@import './pace';
@import './loader';
@import './mobile-navbar';
@import './alerts';
@import './footer';
@import './helpers';
@import './tags-input';

html, body, #app {
	height: 100%;
}

body {
	padding: 96px 4vw 0 4vw;
}

#app {
	display: flex;
	flex-direction: column;
}

#main-content {
	flex: 1 0 auto;
}

@include media-breakpoint-down(sm) {
	body {
		padding: 128px 4vw 0 4vw !important;
	}
}

.navbar {
	background: lighten($dark, 5%);
}

.navbar .form-control {
	height: 42px;
}

.form-control {
	border-width: 1px;
}

.code-input {
	font-family: monospace;
	tab-size: 4;
}

.dropdown-menu {
	border-radius: 1px;
}

hr {
	width: 100%;
}

a.nostyle, a.nostyle:hover, a.nostyle:visited {
	text-decoration: none;
	color: inherit;
}

a.whiteLink {
	color: inherit;
}

.btn {
	color: #eee;
}